.container{
    min-height: calc(100vh - 340px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
}